:root{
    --background-gradient: #2F303A66;
    --brand-color:#2196F3;
    --text-color: #212121;
    --second-color: #ffffff;
    --third-color: #757575; 
    --bg-color: #2F303A;
    --color-team:  #F5F4FA;
    --line-color: #ECECEC;
    --cards-color: #EEEEEE; 
    --client: #AFB1B8;

}